


/* Site arkaplan resmi ayarlaması */
body{
    
   background: url(../images/yeni.jpg) no-repeat center center fixed ;
    background-size:cover;
}

/*icerik container'ının arkaplanı beyaz yapıldı */
.icerik{
    background:white;
    
    
}
.row{
    align-items:center;
}
/*Footer'ın arkaplan rengi siyah yapıldı. */
.page-footer{
    background:black;
}
.table{
    background:white;
}


